<form [formGroup] = "formGroup" >
    <mat-form-field color = "primary">
        <mat-label color = "primary">Firstname</mat-label>
        <input matInput formControlName = "firstName" color = "primary">
    </mat-form-field>
    <mat-form-field color = "primary" >
      <mat-label color = "primary">Lastname</mat-label>
      <input matInput formControlName = "lastName" color = "primary">
  </mat-form-field>
  <mat-form-field color = "primary" >
    <mat-label color = "primary">CNP</mat-label>
    <input matInput formControlName = "cnp" color = "primary">
</mat-form-field>
<mat-form-field color = "primary" >
    <mat-label color = "primary">Salary</mat-label>
    <input matInput formControlName = "salary" color = "primary">
</mat-form-field>
<mat-form-field color = "primary" >
    <mat-label color = "primary">Faculty</mat-label>
    <input matInput formControlName = "facultyId" color = "primary">
</mat-form-field>
  </form>
  
  <button color = "primary" mat-raised-button (click)="goBack()">Go back</button>
  <button color = "primary" mat-raised-button (click)="saveUniversity()">Save</button>

